#root {
  display: flex;
  flex-direction: column;
  gap: 1em;

  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

section {
  width: 30%;
  max-width: 45%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  section {
    width: 50%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  section {
    width: 80%;
  }
}

section > ul {
  display: flex !important;
  flex-direction: column !important;
  gap: 1em !important;
}

section > ul > li {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

*[hidden] {
  display: none !important;
}
